{% extends 'trends/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class='border border-warning'>
    <p>To install Huginn via PyPI: <code>pip install huginn</code></p>
    <p><a href="#">Link to our paper</a></p>
    <p><a href="https://github.com/tcausero/huginn">Link to our github</a></p>
    <p>Contributors:
      <ul>
        <li>Jesse Cahill</li>
        <li>Thomas Causero</li>
        <li>Jamie DeAntonis</li>
        <li>Ryan McNally</li>
      </ul>
    </p>
  </div>
</div>

{% endblock %}
