<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Explore</title>
    <script type="text/javascript" src="/static/jquery-3.5.0.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <link rel='stylesheet' href='{% static 'trends/trends1.css' %}'>
  </head>
  <body>

    <nav class="navbar navbar-expand-sm fixed-top navbar-light">  <!-- -->
        <a href="/" role='button' class='btn btn-dark btn-outline-warning my-2 my-sm-0'>Explore</a>
        <a href="/about-us" role='button' class='btn btn-dark btn-outline-warning my-2 my-sm-0'>About</a>
    </nav>

    {% block content %}

    {% endblock %}

  </body>
</html>
