{% extends 'trends/base.html' %}
{% load static %}

{% block content %}

    <!-- <link rel='stylesheet' href='{% static 'trends/trends.css'%}'> -->

    <div class='container'>
      <div class='text-center'>
        <p class='text-warning'>Showing results for <b>{{ entity.name }}</b><br/></p>
        <a class='btn btn-dark btn-outline-warning' href="/">Click to return to home.</a>
      </div>
      <p>Let's take a look at the google search interest for {{ entity.name }} over the past several years.</p>
      <div class="plot", style='width:1000;height:100;'>{{ plot|safe }}</div>
      <p>We detect anomalies on the following dates: {{ entity.anomalies_formatted }}</p>
      <p>Some urls on each date: {{ entity.urls }}</p>
      <div class="dates"></div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go to link</a>
        </div>
      </div>
    </div>

  <script src='{% static 'js/trends.js'%}'></script>

{% endblock %}
