body, html {
    height: 100%;
    /* overflow: hidden; */
    padding-top: 44px;
    padding-bottom: 25px;
    width: 100%;
    margin: 0 auto;
}

body {
  background-color: black;
  background-image: url('../images/space_1.jpeg');
  background-size: cover;
}

main {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

main div {
  padding: 40px;
  border: 20px;
  color: white;
  resize: both;
  overflow: auto;
}

.container {
  padding: auto;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.card-img-top {
    width: 99.9%;
    height: 15vw;
    object-fit: cover;
}

html, body {
  height: 100%;
}

p {
  /* color: white; */
  margin: 20px;
}

ul, li {
  color: white;
}

/* .asdf {
  color: white;
}
*/

h1 {
  font-size: 28px;
}

.text-warning {
  /* font-size: 28px; */
}
/*
.title-area {
  margin: 0;
  border: 3px solid green;
}

.plot {
  padding: 20px;
  margin: 10px;
  border-style: solid;
  border-width: 0px;
  border-color: teal;
}

.anomalies {
  color: white;
} */
